@import url("//hello.myfonts.net/count/314665");

  
@font-face {font-family: 'Heebo-Bold';src: url('../fonts/Heebo-Bold.eot');src: url('../fonts/Heebo-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Heebo-Bold.woff2') format('woff2'),url('../fonts/Heebo-Bold.woff') format('woff'),url('../fonts/Heebo-Bold.ttf') format('truetype');}
 
@font-face {font-family: 'Heebo-Medium';src: url('../fonts/Heebo-Medium.eot');src: url('../fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/Heebo-Medium.woff2') format('woff2'),url('../fonts/Heebo-Medium.woff') format('woff'),url('../fonts/Heebo-Medium.ttf') format('truetype');}

@font-face {font-family: 'Heebo-Regular';src: url('../fonts/Heebo-Regular.eot');src: url('../fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Heebo-Regular.woff2') format('woff2'),url('../fonts/Heebo-Regular.woff') format('woff'),url('../fonts/Heebo-Regular.ttf') format('truetype');}

@font-face {font-family: 'Heebo-Light';src: url('../fonts/Heebo-Light.eot');src: url('../fonts/Heebo-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Heebo-Light.woff2') format('woff2'),url('../fonts/Heebo-Light.woff') format('woff'),url('../fonts/Heebo-Light.ttf') format('truetype');}

@font-face {font-family: 'Heebo-Thin';src: url('../fonts/Heebo-Thin.eot');src: url('../fonts/Heebo-Thin.eot?#iefix') format('embedded-opentype'),url('../fonts/Heebo-Thin.woff2') format('woff2'),url('../fonts/Heebo-Thin.woff') format('woff'),url('../fonts/Heebo-Thin.ttf') format('truetype');}

html {
  font-weight: 100;
  font: 50px 'Heebo-Light',arial, sans-serif;

}
body {
  font-size: 18px;
  letter-spacing: 2px;
  @include mobile-only {
    font-size: 16px;
  }
}
h1 {
  font-size: 70px;
  line-height: 1;
  font-family: 'Heebo-Thin';
  margin-bottom: 38px;
  @include mobile-only {
    font-size: 42px;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.2;
  font-family: 'Heebo-Thin';
  margin-bottom: 35px;
  letter-spacing: 8px;
  text-transform: uppercase;  
  b {
    font-family: 'Heebo-Medium';    
  }
  @include mobile-only {
    font-size: 24px;
  }
}

h3 {
  font-family: 'Heebo-Bold';  
  @include mobile-only {
    font-size: 20px;
  }
}

h4 {
  font-size: 28px;
  margin-bottom: 35px;  
  @include mobile-only {
    font-size: 20px;
  }
}


h5 {
  font-size: 24px;
  margin-bottom: 35px;  
  @include mobile-only {
    font-size: 20px;
  }
}

a {
  color: inherit;
}

b {
  font-family: 'Heebo-Bold';
}

p {
  line-height: 1.2;
  font-family: 'Heebo-Light';
  margin-bottom: 35px;
  @include mobile-only {
    line-height: 1.2;
  }
}

.text-upper {
  text-transform: uppercase;
}

.text-white {
	color: $white;
}
.text-black {
	color: $black;
}
.text-gold {
	color: $gold;
}

.text-medium {
  font-family: 'Heebo-Medium';    
}

.text-purple {
  color: $purple;
}