section {
  padding: 90px 5%;
  background-position: 50% 50% !important;
  &.parallax {
    @include mobile-only {
      height: auto;
    }
  }
  * {
    position: relative;
  }
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  .inner {
    width: 100%;
    @include desktop-tablet {
      @include center;
      width: 90%;
      max-width: 840px;
    }
  }
  @include tablet-mobile {
    padding: 90px 5%;
  }
}
.mobile-dropdown {
  @include mobile-only {
    h4 {
      margin-bottom: 0;
      &:after {
        opacity: 1;
        transition: all .5s ease;
        @include triangle-right(7,$black,12);
      }
    }
    .dropdown-inner {
      max-height: 0;
      overflow: hidden;
      transition: all 1s ease;
    }
    &.open {
      .dropdown-inner {
        max-height: 600px;
      }
      h4:after {
        opacity: 0;
      }
    }
  }
}

section#hero {
  background-color: $white;
  padding: 0;
  min-height: 0;
  overflow: hidden;
  .row {
    min-height: 790px;    
  }
}

section#about {
  h2 {
    margin-bottom: 0;
  }
  h3 {
    font-family: 'Heebo-Thin';
    font-size: 52px;    
    @include mobile-only {
      font-size: 42px;    
    }
  }
  .about-quote {
    border: 2px solid $purple;
    color: $purple;
    padding: 50px 25px;
    text-align: right;
    margin-top: -70px;
    z-index: -1;
    font-family: 'Heebo-Medium';
    p {
      margin-bottom: 20px;
    }
  }
}

section#testimonials {
  padding: 30px 5%;
  color: $white;
  min-height: 436px;  
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 16px;
  overflow: hidden;    
  h4 {
    margin-bottom: 20px;
  } 
  p {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

section#services {
  text-align: center;  
  .service-row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .service-container {
    margin: 10px 0;
    padding: 0 10px;
  }
  .service {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 2px solid $purple;
    padding: 35px;
    height: 100%;
    @include mobile-only {
      padding: 20px;
    }
    transition: all .5s ease;
    h4 {
      text-transform: uppercase;
    }
    b {
      transition: all .5s ease;      
    }
    &:hover {
      box-shadow: 0px 5px 20px 1px $purple;
      b {
        color: $purple;
      }
    }
  }
}

section#contact {

}



html, 
body, 
.scroller {
  height: 100%;
}

.scroller {
 // overflow-y: scroll;
  margin-top: 70px;
  @include desktop-only {
    margin-top: 81px;
    transition: all .5s ease;
    &.nav-narrow {
      margin-top: 64px;
    }
  }
}

.scroller,
.scroller-inner {
  position: relative;
}
img {
  max-width: 100%;
}

hr {
  border: 1px solid $gray-border;
}
.text-center {
  text-align: center;
}
.mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
}

.desktop-only {
  @include tablet-mobile {
    display: none !important;
  }
}

.desktop-tablet-only {
  @include mobile-only {
    display: none !important;
  }
}

.desktop-mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
  @include desktop-only {
    display: block !important;
  }
}

.tablet-only {
  @include desktop-only {
    display: none !important;
  }
  @include mobile-only {
    display: none !important;
  }
}

.tablet-mobile-only {
  @include desktop-only {
    display: none !important;
  }
}
.triangle {
  &:after {
    @include triangle-down(7,$black,12);
    @include mobile-only {
      @include triangle-right(25,$white,0);
      @include center-y;
    }
  }
}

@include mobile-only {
  section {
    text-align: center;
  }    
}
