section {
  padding: 100px 5%;
  background-position: 50% 50%;
  &.parallax {
    @include mobile-only {
      height: auto;
      background-position: 50% 0 !important;
    }
  }
  * {
    position: relative;
  }
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  .inner {
    width: 100%;
    @include desktop-tablet {
      @include center;
      width: 90%;
      max-width: 840px;
    }
  }
  @include mobile-only {
    padding: 60px 5%;
    text-align: center;
  }
}
.mobile-dropdown {
  @include mobile-only {
    h4 {
      margin-bottom: 0;
      &:after {
        opacity: 1;
        transition: all .5s ease;
        margin-left: 10px;
        display: inline-block;
        @include triangle-right(7,$black,12);
      }
    }
    .dropdown-inner {
      max-height: 0;
      overflow: hidden;
      transition: all 1s ease;
    }
    &.open {
      .dropdown-inner {
        max-height: 600px;
      }
      h4:after {
        opacity: 0;
      }
    }
  }
}

section#hero {
  background-color: $white;
  min-height: 0;
  overflow: hidden;
  .btn {
    max-width: 280px;
  }
  .row {
    min-height: 500px;    
  }
  @include desktop-tablet {
    background-size: auto 970px;
  }
  @include mobile-only {
    background-image: url('/uploads/images/bbr_hero_mobile@2x.jpg') !important;
    background-position: 50% 0 !important;
    text-align: center;
    .row {
      min-height: 0;
      margin-top: 360px;
    }
    .btn {
      margin: 0 auto;
    }
  }
}

section#about {
  h2 {
    margin-bottom: 0;
  }
  h3 {
    font-family: 'Heebo';
    font-weight: 100; 
    font-size: 52px;    
    @include mobile-only {
      font-size: 42px;    
    }
  }
  .about-quote {
    border: 2px solid $purple;
    color: $purple;
    padding: 50px 25px;
    text-align: right;
    margin-top: -70px;
    z-index: -1;
    font-weight: 500;
    font-size: 24px;

    p {
      margin-bottom: 30px;
    }
    p:last-child {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 500;
      margin-top: -15px;
    }
  }
  @include mobile-only {
    .about-quote  {
      text-align: center;
    }
    .about-body {
      text-align: left;
      margin-top: 20px;
      transition: all .5s ease;
      max-height: 900px;
      overflow: hidden;
      &.open {
        max-height: 1500px;
      }
    }
  }
}

section#testimonials {
  color: $white;
  min-height: 436px;  
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 16px;
  overflow: hidden;    
  h4 {
    margin-bottom: 20px;
  } 
  p {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  @include desktop-tablet {
      padding: 30px 5%;
      background-size: auto 650px !important;
  }
  @include mobile-only {
    background-image: url('/uploads/images/testimonial_mobile@2x.jpg') !important;
    background-position: 50% 0 !important;
  }
}

section#services {
  text-align: center; 
  background: $gray url('/src/img/services-back.png') no-repeat; 
  background-position: 0 180px !important;
  background-size: 430px;
  .btn {
    margin-bottom: 40px;
  }
  .service-row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .service-container {
    margin: 10px 0;
    padding: 0 10px;
  }
  .service {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 2px solid $purple;
    padding: 35px;
    height: 100%;
    font-size: 14px;
    line-height: 1.7;
    color: #868686;
    cursor: pointer;
    // a {
    //   display: inline;
    //   color: $purple;
    // }
    .btn {
      padding: 5px 10px;
      &:hover b{
        color: $white;
      }
    }
    @include mobile-only {
      padding: 20px;
    }
    transition: all .5s ease;
    h4 {
      text-transform: uppercase;
    }
    b {
      transition: all .5s ease;      
    }
    &:hover {
      background-color: $white;
      box-shadow: 0px 5px 20px 1px $purple;
      b {
        color: $purple;
      }
    }
  }
  @include mobile-only {
    background-size: 260px;
    background-position: 0 0 !important;  
  }
}

section#instagram {
  padding: 0;
  .row {
    margin-left: 5px;
    margin-right: 5px; 
  }
  [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .follow {
    display: block;
    vertical-align: center;
    align-self: center;
    padding-top: 5px;
    img {
      width: 100%;
    }
  }
  img {
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
  }
  b {
    @include center;
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }
}


section#contact {
  @include desktop-tablet {
    background: url('/src/img/contact-back.png') no-repeat;
    background-position: 100% 100%;
    background-size: 650px;
    padding-bottom: 130px;
  }
  @include mobile-only {
    text-align: left;
  }
}

section#free-session {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  h2 {
    color: $purple;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
  }
  h4 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    color: #868686;
    text-transform: uppercase;
  }
}

section#thank-you {
  padding: 30px;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 52px;
  font-weight: 100;
  h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}

html, 
body, 
.scroller {
  height: 100%;
  &.full-height {
    margin-top: 0;
    height: 100vh;
  }
}

.scroller {
 // overflow-y: scroll;
  margin-top: 60px;
  @include desktop-only {
    margin-top: 68px;
    transition: all .5s ease;
    &.nav-narrow {
      margin-top: 64px;
    }
  }
}

.scroller,
.scroller-inner {
  position: relative;
}
img {
  max-width: 100%;
}

hr {
  border: 1px solid $gray-border;
}
.text-center {
  text-align: center;
}
.mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
}

.desktop-only {
  @include tablet-mobile {
    display: none !important;
  }
}

.desktop-tablet-only {
  @include mobile-only {
    display: none !important;
  }
}

.desktop-mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
  @include desktop-only {
    display: block !important;
  }
}

.tablet-only {
  @include desktop-only {
    display: none !important;
  }
  @include mobile-only {
    display: none !important;
  }
}

.tablet-mobile-only {
  @include desktop-only {
    display: none !important;
  }
}
.triangle {
  &:after {
    @include triangle-down(7,$black,12);
    @include mobile-only {
      @include triangle-right(25,$white,0);
      @include center-y;
    }
  }
}
