nav#mp-menu {
  z-index: 3;
  position: fixed;
  background-color: $white;
  width: 100%;
  top: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  transform: none;
  left: 0;
  font-size: 16px;
  text-transform: uppercase;
  transition: all .5s ease;
  
  img {
    max-width: 123px;
  }

  a {
    text-decoration: none;
  }
  .mobile-logo {
    font-size: 3rem;
  }
  .mobile-top {
    height: 70px;
    padding: 18px;
  }
  li {
    font-size: 16px;
    letter-spacing: 2px;
    list-style: none;
  }
  li a:not(.btn){
    font-weight: 500;
  }
  @include desktop-tablet {
    ul {
      text-align: right;
    }
    li{
      display: inline-block;
      width: auto;
      vertical-align: middle;
      margin-left: 15px;
    }
    .mobile-top {
      display: none;
    }
  }
}
.menu-trigger#trigger {
  background: transparent;
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  &:before {
    background: tranparent;
  }
}
@include desktop-only {
  #trigger {
    display: none;
  }
}