{% extends "_layout" %}

{% block content %}
  <section id="instablog">
    <header class="center">
    {% block blogHeader %}
        <h1>Blog</h1> 

    {% endblock %}
    </header>
    <div class="row">
      <div class="col-xs-9">
        {% block blogBody %}
        {% endblock %}
      </div>
      <div class="col-xs-3">
        {% block blogAside %}
          {% include 'blog/_aside.twig' %}
        {% endblock %}
      </div>
    <div>
  </section>
{% endblock %}
