{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}

{% block blogBody %}
  {% if craft.request.segment(3) == '' %}
      <h2>Category</h2>
      <ul>
        {% nav category in craft.categories.group('instaBlogCategories') %}
          <li>
            <a href="{{ category.url }}">{{ category.title }}</a>
            {% ifchildren %}
              <ul>
                {% children %}
              </ul>
            {% endifchildren %}
          </li>
        {% endnav %}
      </ul>

  {% else %}

    {% paginate craft.entries.section('instaBlog').relatedTo(category).limit(10) as entries %}  

      {% if entries|length %}
      <div class="blog-search-header">
        <p><strong><a href="/blog">BACK TO BLOG HOME</a></strong></p>
        <div class="row">
          <h3 class="col-xs-8">Category: <span>&ldquo;{{ category.slug|title }}&rdquo;</span></h3>
          <span class="col-xs-4 text-right">{{ entries|length }} Resultes</span>
        </div>
        <hr>
      </div>
      {% include 'blog/_entries.twig' %}

      {% else %}
        {% include 'blog/_not-found.twig' with {'type': 'category'} %}
      {% endif %}

    {% endif %}

{% endblock %}