{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}
{% block blogHeader %}
  {% set backgroundImage = blog.blogHeaderImage|length == 0 ? "" : " background: url(" ~  blog.blogHeaderImage|first.url ~ ") no-repeat #000; background-size: cover; background-position: 50% 50%" %}
  <section class="blog-header blog-home-header center" style="{{ backgroundImage }}">
    <h1>{{blog.blogHeader}}</h1> 
  </section>
{% endblock %}

{% block blogBody %}
  {{ blog.blogIntro }}
  <h3 class="blog-latest-post-header text-wide">LATEST POSTS</h3>
  <div id="blog-home-entries-container">
  {% paginate craft.entries.section('instaBlog').limit(3) as entries %}
    {% include 'blog/_home-entries.twig' %}
  {% if paginate.nextUrl %}
    <button id="blog-load-more" class="btn-white">Load More +</button>
  {% endif %}  
  </div>
{% endblock %}
