{% paginate craft.entries.section('instaBlog').limit(1) as entries %}
    {% include 'blog/_home-entries.twig' %}
{% if paginate.nextUrl %}
  <button id="blog-load-more" class="btn-white">Load More +</button>
{% endif %}
