{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}

{% if craft.request.getParam('q') is defined %}
  {% set query = craft.request.getParam('q') %}
{% else %}
  {% set query = "" %}
{% endif %}

{% block blogBody %}
  {% paginate craft.entries.search(query).section('instaBlog').limit(10).order('score') as entries %}

    {% if entries|length %}
    <div class="blog-search-header">
        <p><strong><a href="/blog">BACK TO BLOG HOME</a></strong></p>
        <div class="row">
          <h3 class="col-xs-8">Search results for: &ldquo;{{ query | title }}&rdquo;</span></h3>
          <span class="col-xs-4 text-right">{{ entries|length }} Resultes</span>
        </div>
        <hr>
      </div>
      
      {% include 'blog/_entries.twig' %}

    {% else %}
      {% include 'blog/_not-found.twig' with {'type': 'search'} %}
    {% endif %}
{% endblock %}