{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}

{% set tags = craft.request.segment(3) %}
{% set searchValue = craft.request.segment(3) %}  
{% block blogBody %}
  {% if craft.request.segment(3) == '' %}
    {% set instaTags = craft.tags.group('instaBlogTags') %}
      <h2>Tag</h2>
      <ul>
      {% for tag in instaTags %}
        <li><a href="/blog/tag/{{ tag.name|split(' ')|join('-')|lower }}">{{ tag.name }}</a>
      {% endfor %}          
      </ul>
  {% else %}

    {% paginate craft.entries.search(tags).section('instaBlog').limit(10).order('dateCreated') as entries %}  

      {% if entries|length %}
        <div class="blog-search-header">
          <p><strong><a href="/blog">BACK TO BLOG HOME</a></strong></p>
          <div class="row">
            <h3 class="col-xs-8">Category: <span>&ldquo;{{ searchValue | title }}&rdquo;</span></h3>
            <span class="col-xs-4 text-right">{{ entries|length }} Resultes</span>
          </div>
          <hr>
        </div>
        {% include 'blog/_entries.twig' %}

      {% else %}
        {% include 'blog/_not-found.twig' with {'type': 'tag'} %}
      {% endif %}

  {% endif %}
{% endblock %}